<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="mb-3 mt-2 text-center"><%= action %></h2>
        <%= form_with model: post do |f| %>
          <%= render "layouts/error_messages", model: f.object %>

          <div class="mb-2">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :body %>
            <%= f.text_area :body, rows: 6, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :zipcode, "郵便番号" %><br />
            <%= text_field_tag :zipcode, nil, class: "form-control" %>
          </div>

          <div class="mb-2">
            <%= f.label :address %><br />
            <%= f.text_field :address, class: "form-control" %>
          </div>

          <div class="my-4">
            <%= f.submit "#{action}する", class: "btn btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
