<table class="table">
  <thead>
    <tr>
      <th><%= t i18(:user, :id) %></th>
      <th><%= t i18(:user, :name) %></th>
      <th><%= t i18(:user, :email) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "削除", admin_user_path(user), data: { confirm: "本当に削除しますか？" }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>